@font-face {
    font-family: GaramondRegular;
    src: url('fonts/GaramondRegular.otf');
}
:root {
    --green: #0f9171;
    --light-blue: #36abde;
    --dark-blue: #5c7bb5;
    --purple: #796684;
    --red: #b53e66;
    --orange: #e1a25d;
    --yellow: #b0b859;
    --black: #32262e;
    --white: #d6d6e2;
}
html {
    font-family: GaramondRegular;
}
body {
    background: var(--black);
    margin: 0;
}
#title-container {
    width: 100vw;
    height: 14rem;
    margin: 6rem auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    font-size: 12rem;
}
#title-container > * {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5rem; 
}
#toolbar {
    width: 50vw;
    margin: 16rem auto 0;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    background: black;
    mix-blend-mode: lighten;
    filter: contrast(3);
}
#toolbar > * {
    width: fit-content;
    font-size: 3rem;
    text-decoration: none;
    filter: blur(1px) contrast(10);
    color: white;
    transition: transform 0.2s;
}
#toolbar > a:hover {
    transform: scale(1.1);
}
.morph-container {
    filter: blur(5px) contrast(10) invert(1);
    background: white;
    mix-blend-mode: lighten;
    will-change: opacity;
    opacity: 0;
    transform: translate3d(0,0,0);
}
.morph-container > * {
    mix-blend-mode: difference;
    background: black;
    color: white;
    will-change: transform;
    transition: inherit;
    transition-timing-function: ease;
}


@media screen and (max-width: 1000px){
    #toolbar > a {
	font-size: 5rem;
    }
}
