@font-face {
    font-family: GaramondRegular;
    src: url('fonts/GaramondRegular.otf');
}
@font-face {
    font-family: GaramondBold;
    src: url('fonts/GaramondBold.ttf');
}
:root {
    --green: #0f9171;
    --light-blue: #36abde;
    --dark-blue: #5c7bb5;
    --purple: #796684;
    --red: #b53e66;
    --orange: #e1a25d;
    --yellow: #b0b859;
    --black: #32262e;
    --white: #d6d6e2;

    --page-width: min(750px, 80vw);
}
html {
    font-family: GaramondRegular;
}
body {
    background: var(--green);
    margin: 0;
    color: white;
}
#grain-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 100%;
    background: 
	linear-gradient(0deg, rgba(255,255,255,255), rgba(0,0,0,0)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter) saturate(0)'/%3E%3C/svg%3E");
    mix-blend-mode: multiply;
}
#gl5-backdrop {
    position: absolute;
    width: 100vw;
    z-index: -1;
    aspect-ratio: 1 / 2;
    filter: blur(20px);
    pointer-events: none;
}
#gl5-backdrop > div {
    width: 100%;
    height: 100%;
    background-color: var(--green);
    mask-image: url('images/gl5-outline.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    filter: brightness(0.7);
}
h1 {
    width: var(--page-width);
    height: 14rem;
    margin: 4rem auto -5rem;
    padding: 1rem;
    left: 0;
    top: 0;
    font-size: 12rem;
    display: flex;
    justify-content: space-between;
    font-family: GaramondBold;
    font-weight: normal;
    text-decoration: none;
    color: white;
}
h1 > span {
    margin: -7rem -5.25rem 0;
    padding: 5rem;
    z-index: -1;
}
h2 {
    width: var(--page-width);
    margin: 0 auto;
    font-size: 2.7rem;
    display: flex;
    font-weight: normal;
    font-family: GaramondBold;
}
h3 {
    width: var(--page-width);
    margin: 0 auto;
    font-size: 2rem;
    font-weight: normal;
    font-family: GaramondBold;
}
span:empty {
    display: block;
    width: 10px;
}
.moving-children > * {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    transition: transform 5s;
}
#toolbar {
    width: 32rem;
    max-width: var(--page-width);
    height: 50px;
    margin: -4rem auto 0;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: end;
    filter: contrast(5);
}
#toolbar > * {
    width: fit-content;
    font-size: 3rem;
    text-decoration: none;
    z-index: 1;
}
#toolbar > a:hover {
    filter: opacity(0.75);
}
#toolbar > a > img {
    height: 100%;
}
.goo {
    background: black;
    mix-blend-mode: lighten;
    filter: blur(3px) contrast(10);
    overflow: hidden;
}
.paragraph {
    font-size: 2rem;
    text-align: justify;
    width: var(--page-width);
    margin: 0 auto;
}



/* Events */
.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.event {
    flex-basis: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 1rem 1rem 2rem;
    background: rgba(0,0,0,0.1);
    transition: background 0.2s;
}
.event-date, .event-venue, .event-city {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 2rem;
}
.event-city {
    text-align: center;
}
.event-venue {
    text-align: right;
}
.event > hr {
    flex-basis: 100%;
    height: 3px;
    border: none;
    background: var(--green);
}
.event-view-poster {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    transition: opacity 0.2s;
    opacity: 0.5;
}
.event-poster {
    flex-basis: 100%;
    margin-top: 1rem;
    max-width: 100%;
    max-height: 0px;
    transition: max-height 0.2s;
}
.event:hover {
    background: rgba(0,0,0,0.2);
}
.event:hover .event-poster, .event:focus .event-poster {
    max-height: 1000px;
}
.event:hover .event-view-poster {
    opacity: 0;
}
.artist-link {
    color: white;
    text-decoration: none;
}
.artist-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1000px){
    html {
	font-size: 30px;
    }
    h1 {
	font-size: 7rem;
	margin-bottom: -9rem;
    }
    h2 {
	font-size: 1.75rem;
    }
    #toolbar {
	height: 100px;
	margin-top: -6rem;
    }
}
